# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds / temporary directories
/ios
/android
.kotlin/

# Certificates / Signings / Keystores / Private keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
credentials.json

# Metro bundler health check
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS
.DS_Store

# IDE and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables (sensitive information)
.env
.env.local
.env.production
.env.development
.env*.local
